
.title-main {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
  margin: 5%;
  background-color: #ecea65;
}
.cars-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 5%;
  margin-top: 1%;
}

.cars-table td,
.cars-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.cars-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.cars-table tr:nth-child(odd) {
  background-color: #f1bebe;
}

.cars-table tr:hover {
  background-color: #ddd;
}

.cars-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.image{
  width: 100px;
  
}
